/* Header responsive */
@media(min-width: 1024px) and (max-width: 1260px) {
    .navbar__container {
        width: calc(100% - 60px) !important;
    }

    .hero__container {
        margin-left: 30px;
    }

}


/* Mobile Product */
@media (min-width: 320px) and (max-width: 450px){
    .fresh__image-title {
        left: 0 !important;
        padding: 10px !important;
    }
}


/* PC */
@media (max-width: 1870px) {

    /* Navigation */
    .navbar__container {
        width: 1200px;
    }

    .navbar__logo span {
        font-size: 28px;
    }

    .navbar__links li a {
        font-size: 12px;
    }

    .navbar {
        padding: 20px 0;
    }


    /* Hero Section */
    .hero {
        width: 1200px;
    }

    .hero span {
        font-size: 10px;
    }

    .hero h1 {
        font-size: 50px;
    }

    .hero p {
        font-size: 11px;
    }

    .hero__action-button button,
    .hero__action-button a {
        font-size: 12px;
    }

    /* About  */
    .about {
        gap: 0rem;
    }

    .about__content span {
        font-size: 16px;
    }

    .about__content h1 {
        font-size: 42px;
    }

    .about__content p {
        font-size: 11px;
        line-height: 20px;
        padding: 2rem 0 1rem 0;
    }


    .about__checlist-item {
        font-size: 11px;
        line-height: 20px;
        margin: 1rem 0;
    }

    .about__icon4 {
        width: 200px;
        height: 200px;
    }

    .about__icon3 {
        transform: translate(-20%, -50%);
        width: 130px;
        height: 130px;
    }

    .about__icon2 {
        width: 80px;
        height: 80px;
    }

    .about__image-1 {
        top: 0;
        left: 10%;
        width: 270px;
        height: 330px;
    }

    .about__image-2 {
        bottom: 15%;
        right: 10%;
        width: 280px;
        height: 270px;

    }

    .about__image-3 {
        position: absolute;
        right: 18%;
        top: 12%;
        z-index: 1;
        width: 150px;
    }


    /* Mission */
    .mission {
        margin-top: 3rem;
    }

    .mission .mission__list {
        margin-top: 3rem;
    }

    .mission span {
        font-size: 16px;
        line-height: normal;
    }

    .mission h1 {
        font-size: 46px;
    }

    .mission p {
        font-size: 12px;
        line-height: normal;
    }

    .mission__list-item {
        padding: 15px;
        gap: 1rem;
        width: 170px;
    }

    /* thêm .list-item đổi avtive thành hover nếu có icon svg */
    /* .mission__list-item:hover{ */
    .mission__list-item--active {
        scale: 1;
    }

    .mission__list img {
        width: 50px;
        height: 50px;
    }

    .mission__list-item h5 {
        font-size: 13px;
    }

    /* Vision */
    .vision {
        gap: 2rem;
        margin: 6rem 0;
    }

    .vision__content span {
        font-size: 14px;
        line-height: normal;
        margin-bottom: 1rem;
    }

    .vision__content h1 {
        font-size: 40px;
        line-height: 50px;
    }

    .vision__content p {
        font-size: 12px;
        line-height: normal;
        width: 90%;
    }

    .vision__content button a {
        padding: 15px 25px;
        font-size: 12px;
    }

    .vision__video img {
        width: 480px;
        height: 500px;
        object-fit: cover;
    }

    /* Offer */

    .offer__title span {
        font-size: 15px;
    }

    .offer__title h1 {
        font-weight: 700;
        font-size: 42px;
    }

    .offer__title p {
        font-size: 12px;
        line-height: normal;
    }

    .offer__items-content h2 {
        font-size: 24px;
    }

    .offer__items-content p {
        font-size: 12px;
    }

    /* Product */
    .product__title span {
        font-size: 15px;
    }


    .product__title h1 {
        font-size: 42px;
    }

    .product__title p {
        font-size: 12px;
    }

    .product__title button a {
        font-size: 15px;
        padding: 15px 35px;
    }

    .product__items {
        height: 320px;
    }


    .product__items-content h3 {
        font-size: 18px;
    }

    .product__items-content p {
        font-size: 12px;
        margin-bottom: 2rem;
    }


    .product__items-content button a {
        font-size: 12px;
    }


    .product__items-content button svg {
        width: 20px;
        height: 20px;
    }

    /* Testimonials */
    .testimonials__title span {
        font-size: 15px;
    }

    .testimonials__title h1 {
        font-size: 42px;
    }

    .testimonials__items-title img {
        width: 50px;
        height: 50px;
    }

    .testimonials__list {
        gap: 2rem;
    }

    .testimonials__items {
        padding: 3rem;
    }

    .testimonials__items-info h3 {
        font-size: 16px;
    }

    .testimonials__items p {
        font-size: 12px;
        line-height: normal;
    }

    .testimonials__pagination {
        display: flex;
        justify-content: center;
    }

    .testimonials__pagination-line::before {
        font-size: 4rem;
    }


    .testimonials__action-button svg {
        width: 50px;
        height: 50px;
        padding: 15px;
        display: flex;
    }


    /* Fresh products */
    .fresh-products {
        height: 550px;
    }

    .fresh__container {
        width: var(--container-width);
    }

    .fresh__images img {
        width: 470px;
        height: 470px;
    }

    .fresh__image-title {
        padding: 30px;
    }

    .fresh__image-title h1 {
        font-size: 36px;
    }

    .fresh__image-title span {
        font-size: 15px;
        line-height: normal;
    }

    .fresh__content {
        width: 65%;
    }

    .fresh__content span {
        font-size: 15px;
        line-height: normal;
    }

    .fresh__content h1 {
        font-size: 42px;
    }

    .fresh__content p {
        font-size: 12px;
        width: 90%;
    }

    .fresh__progress h2 {
        font-size: 15px;
    }


    .fresh__progress-1 span,
    .fresh__progress-2 span {
        font-size: 15px;
        margin-bottom: 2rem;
    }

    /* Provide you */
    .provide {
        height: 500px;
    }

    .provide__content h1 {
        font-size: 42px;
        width: 900px;
    }

    .provide__content p {
        font-size: 12px;
        width: 40%;
    }


    .provide__content button a {
        font-size: 12px;
        padding: 15px 35px;
    }

    /* Blogs */
    .blogs__content {
        width: var(--container-width);
    }

    .blogs__title span {
        font-size: 14px;
    }

    .blogs__title h1 {
        font-size: 40px;
    }

    .blogs__title p {
        font-size: 13px;
        width: 60%;
    }

    .blogs__items img {
        width: 100%;
        height: 200px;
    }

    .blogs__items-content span {
        font-size: 14px;
    }

    .blogs__items-content h1 {
        font-size: 18px;
    }

    .blogs__items-content p {
        font-size: 12px;
    }

    .blogs__items-action a {
        font-size: 12px;
    }

    .blogs__items-action button a {
        padding: 5px;
    }

    /* Contact */
    .contact__title span {
        font-size: 16px;
    }


    .contact__title h1 {
        font-size: 42px;
    }

    .contact__items p {
        font-size: 12px;
    }

    .contact__checklist-item {
        font-size: 14px;
    }

    .contact__image {
        height: 280px;
    }

    .contact__img1 {
        width: 250px;
        height: 150px;
    }

    .contact__img2 {
        width: 330px;
        height: 200px;
    }

    .contact__icon {
        position: absolute;
        top: 3%;
        right: 27%;
    }

    .contact__icon1 {
        width: 50px;
        height: 50px;
    }

    .contact__icon2 {
        width: 20px;
        height: 20px;
    }

    .contact__items form h2 {
        font-size: 38px;
    }

    .contact__form-group label {
        font-size: 13px;
    }

    .contact__form-group input,
    .contact__form-group textarea {
        font-size: 13px;
        padding: 0.5rem 1rem;
    }

    .contact__form-group textarea {
        height: 100px;
    }

    .contact__items form button {
        font-size: 12px;
        padding: 15px 40px;
    }

    /* Footer */
    footer {
        height: 450px;
    }

    .footer__container {
        width: var(--container-width);
    }


    .footer__logo img {
        width: 30px;
        height: 30px;
    }

    .footer__logo {
        font-size: 30px;
    }

    .footer__items p {
        font-size: 12px;
    }

    .footer__contact-items {
        font-size: 12px;
    }


    .footer__links h3,
    .footer__posts h2 {
        font-size: 18px;
    }

    .footer__links ul li a {
        font-size: 12px;
        line-height: 32px;
    }

    .footer__posts-items img {
        width: 45px;
        height: 35px;
    }

    .footer__postItem-content span {
        font-size: 10px;
    }

    .footer__postItem-content h3 {
        font-size: 12px;
    }


    .footer__social h6 {
        font-size: 12px;
    }

    .footer__social-icon svg {
        width: 17px;
        height: 17px;
    }

}

/* End Windows */

/* Tablet */
@media (max-width: 1023px) {

    /* Navigation */
    .navbar {
        width: 100vw;
    }

    .navbar__container {
        width: var(--container-width);
    }

    .navbar__logo span {
        font-size: 2rem;
    }

    .navbar__links li a {
        font-size: 0.8rem;
    }

    .navbar {
        padding: 1rem 0;
    }

    /* Hero Section */
    .hero {
        width: var(--container-width);
    }

    .hero__container {
        width: var(--container-width);
        height: 70vh;
    }

    .hero span {
        font-size: 0.8rem;
    }

    .hero h1 {
        font-size: 4rem;
    }

    .hero p {
        font-size: 1rem;
    }

    .hero__action-button button,
    .hero__action-button a {
        font-size: 1rem;
    }

    /* About  */
    .about__content span {
        font-size: 1.2rem;
    }

    .about__content h1 {
        font-size: 2.5rem;
    }

    .about__content p {
        font-size: 0.8rem;
    }

    .about__checlist-item {
        font-size: 1rem;
    }

    .about__icon4 {
        width: 150px;
        height: 150px;
    }

    .about__icon3 {
        transform: translate(-20%, -50%);
        width: 100px;
        height: 100px;
    }

    .about__icon2 {
        width: 60px;
        height: 60px;
    }

    .about__image-1 {
        width: 180px;
        height: 230px;
    }

    .about__image-2 {
        bottom: 35%;
        right: 10%;
        width: 200px;
        height: 190px;

    }

    .about__image-3 {
        position: absolute;
        right: 10%;
        top: 12%;
        width: 120px;
    }

    /* Mission */
    .mission span {
        font-size: 1.2rem;
    }

    .mission h1 {
        font-size: 3rem;
    }

    .mission p {
        font-size: 1rem;
        width: 70%;
    }

    .mission__list-item {
        padding: 15px;
        gap: 1rem;
        width: var(--container-width);
    }

    .mission__list img {
        width: 50px;
        height: 50px;
    }

    .mission__list-item h5 {
        font-size: 1rem;
    }


    /* Vision */
    .vision {
        gap: 1rem;
        flex-direction: column;
    }

    .vision__content span {
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .vision__content h1 {
        font-size: 3rem;
    }

    .vision__content p {
        font-size: 1rem;
        line-height: normal;
        width: 90%;
    }

    .vision__content button a {
        font-size: 1rem;
    }

    .vision__video img {
        width: 100%;
        margin-top: 1rem;
    }

    /* Offer */
    .offer__title span {
        font-size: 1rem;
    }

    .offer__title h1 {
        font-size: 3.5rem;
    }

    .offer__title p {
        font-size: 1rem;
    }

    .offer__items-content h2 {
        font-size: 1.6rem;
    }

    .offer__items-content p {
        font-size: 1rem;
    }

    /* Product */

    .product {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .product__title span {
        font-size: 1rem;
    }


    .product__title h1 {
        font-size: 3.2rem;
    }

    .product__title p {
        font-size: 1rem;
    }

    .product__title button a {
        font-size: 1rem;
    }

    .product__items {
        height: 300px;
    }

    /* 
    .product__items::after {
        background: #54A02991;
        opacity: 0.5;
    } */

    .product__items-content {
        display: block;
        z-index: 1;
    }

    .product__items-content h3 {
        font-size: 1.5rem;
    }

    .product__items-content p {
        font-size: 1rem;
    }


    .product__items-content button a {
        font-size: 1rem;
    }


    /* Testimonials */

    .testimonials__title span {
        font-size: 1rem;
    }

    .testimonials__title h1 {
        font-size: 3rem;
    }

    .testimonials__items-title img {
        width: 50px;
        height: 50px;
    }

    .testimonials__list {
        gap: 2rem;
    }

    .testimonials__items {
        padding: 3rem;
    }

    .testimonials__items-info h3 {
        font-size: 1.2rem;
    }

    .testimonials__items p {
        font-size: 0.9rem;
    }

    .testimonials__pagination-line::before {
        font-size: 4rem;
    }

    /* Fresh products */
    .fresh-products {
        height: 550px;
    }

    .fresh__container {
        width: var(--container-width);
    }

    .fresh__images img {
        width: 470px;
        height: 470px;
    }

    .fresh__image-title {
        bottom: 0;
        left: 2rem;
        transform: translateX(0);
    }

    .fresh__image-title h1 {
        font-size: 2.8rem;
    }

    .fresh__image-title span {
        font-size: 1rem;
    }

    .fresh__content {
        width: 65%;
    }

    .fresh__content span {
        font-size: 1rem;
    }

    .fresh__content h1 {
        font-size: 3rem;
    }

    .fresh__content p {
        font-size: 1rem;
        width: 100%;
        text-align: justify;
    }

    .fresh__progress h2 {
        font-size: 1rem;
    }

    .progress-wrap {
        width: 100%;
    }

    .fresh__progress-1 span,
    .fresh__progress-2 span {
        font-size: 1rem;
        margin-bottom: 2rem;
    }

    /* Provide you */
    .provide {
        height: 500px;
    }

    .provide__content h1 {
        font-size: 3rem;
        width: 80vw;
    }

    .provide__content p {
        font-size: 1rem;
        width: 70%;
    }


    .provide__content button a {
        font-size: 1rem;
        padding: 15px 35px;
    }

    /* Blogs */
    .blogs__content {
        flex-direction: column;
        width: 70%;
    }

    .blogs__title span {
        font-size: 1rem;
    }

    .blogs__title h1 {
        font-size: 3rem;
    }

    .blogs__title p {
        font-size: 1rem;
    }

    .blogs__items img {
        width: 100%;
        height: 300px;
    }

    .blogs__items-content span {
        font-size: 1rem;
    }

    .blogs__items-content h1 {
        font-size: 1.5rem;
    }

    .blogs__items-content p {
        font-size: 1rem;
    }

    .blogs__items-action a {
        font-size: 1rem;
    }

    .blogs__items-action button a {
        padding: 10px;
    }

    /* Contact */
    .contact__title {
        width: var(--container-width);
    }

    .contact__title span {
        font-size: 1.2rem;
    }


    .contact__title h1 {
        font-size: 3.5rem;
    }

    .contact__content {
        flex-direction: column;
        align-items: center;
    }

    .contact__items {
        width: var(--container-width);
    }

    .contact__items p {
        font-size: 1rem;
        width: var(--container-width);
    }

    .contact__checklist-item {
        font-size: 1.1rem;
    }

    .contact__image {
        height: 280px;
        width: 100%;
    }

    .contact__img1 {
        left: 15%;
        width: 250px;
        height: 150px;
    }

    .contact__img2 {
        right: 15%;
        width: 330px;
        height: 200px;
    }

    .contact__icon {
        position: absolute;
        right: 35%;
    }

    .contact__items form {
        margin-top: 3rem;
    }

    .contact__items form h2 {
        font-size: 3rem;
    }

    .contact__form-group label {
        font-size: 1rem;
    }

    .contact__form-group input,
    .contact__form-group textarea {
        font-size: 1rem;
    }



    .contact__items form button {
        font-size: 1rem;
        padding: 15px 40px;
    }

    /* Footer */
    .footer__logo {
        font-size: 2rem;
    }

    .footer__items p {
        font-size: 0.8rem;
    }

    .footer__contact-items {
        font-size: 0.8rem;
    }


    .footer__links h3,
    .footer__posts h2 {
        font-size: 1.2rem;
    }

    .footer__links ul li a {
        font-size: 0.8rem;
    }

    .footer__postItem-content span {
        font-size: 0.6rem;
    }

    .footer__postItem-content h3 {
        font-size: 0.8rem;
    }


    .footer__social h6 {
        font-size: 0.8rem;
    }

}

/* End Tablet */

/* Mobile */
@media (max-width: 767px) {

    /* Navigation */
    .hamburger-menu {
        display: block;
    }

    .hamburger-menu__burger {
        position: relative;
        width: 25px;
        height: 15px;
    }

    .hamburger-menu__burger span {
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background: var(--text-white);
        border-radius: 2px;
    }

    .hamburger-menu__burger span:nth-child(1) {
        top: 0
    }

    .hamburger-menu__burger span:nth-child(2) {
        top: 6px
    }

    .hamburger-menu__burger span:nth-child(3) {
        top: 12px
    }

    .navbar__links {
        display: none !important;
    }

    .navbar__container {
        width: 90%;
    }

    /* Hero Section */
    .hero {
        width: var(--container-width);
    }

    .hero__container {
        width: var(--container-width);
        height: 60vh;
    }

    .hero span {
        font-size: 1rem;
    }

    .hero h1 {
        font-size: 3.2em;
    }

    /* About  */
    .about__content span {
        justify-content: center;
    }

    .about__content h1 {
        line-height: normal;
    }

    .about__content {
        text-align: center;
    }

    .about {
        flex-direction: column-reverse;
    }

    .about__images {
        position: relative;
        width: 100%;
        height: 300px;
        margin: 5rem 0;
    }

    .about__icon4 {
        left: 0;
    }

    .about__icon3 {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .about__icon2 {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .about__image-1 {
        left: 20%;
    }

    .about__image-2 {
        bottom: 0;
        right: 0;
    }

    .about__image-3 {
        right: 10%;
        top: 5%;
    }

    /* Mission */

    .mission h1 {
        text-align: center;
        width: 90%;
    }

    .mission p {
        width: 100%;
    }

    .mission__list {
        flex-direction: column;
        gap: 3rem;
    }

    .mission__list-item {
        padding: 25px;
    }

    .mission__list-item:not(:last-child)::after {
        width: 0;
        height: 0;
    }


    /* Vision */
    .vision {
        flex-direction: column;
        align-items: center;
    }

    .vision__content {
        text-align: center;
    }

    .vision__content span {
        justify-content: center;
    }

    .vision__content p {
        width: 100%;
    }

    .vision__content button a {
        font-size: 1rem;
    }

    .vision__video img {
        width: 100%;
        margin-top: 1rem;
    }


    /* Offer */
    .offer__title h1 {
        font-size: 3rem;
    }

    .offer__title p {
        width: 100%;
    }

    .offer__content {
        grid-template-columns: repeat(1, 1fr);
    }

    /* Product */

    .product {
        grid-template-columns: repeat(1, 1fr);
    }

    .product__title span {
        justify-content: center;
    }

    .product__title {
        text-align: center;
    }

    .product__title p {
        width: 100%;
    }

    .product__title button {
        justify-content: center;
    }

    /* Testimonials */

    .testimonials__title h1 {
        width: 100%;
    }

    .testimonials__list {
        flex-direction: column;
    }

    .testimonials__items-info h3 {
        font-size: 1.2rem;
    }

    .testimonials__items p {
        font-size: 1rem;
    }

    /* Fresh products */
    .fresh-products {
        height: 450px;
    }

    .fresh__container {
        width: var(--container-width);
    }

    .fresh__images img {
        width: 80%;
        height: 400px;
        object-fit: cover;
    }

    .fresh__image-title {
        left: 2rem;
        padding: 20px;
        z-index: 99;
    }

    .fresh__image-title h1 {
        font-size: 2rem;
        margin-bottom: 0.2rem;
    }


    .fresh__content {
        width: 65%;
    }

    .fresh__content span {
        font-size: 0.8rem;
    }

    .fresh__content h1 {
        font-size: 2rem;
        line-height: normal;
    }

    .fresh__content p {
        line-height: normal;
    }

    .fresh__progress h2 {
        font-size: 1rem;
    }

    .fresh__progress-wrap {
        width: 100%;
    }

    .fresh__progress {
        margin-top: 1rem !important;
    }

    .fresh__progress-1 span,
    .fresh__progress-2 span {
        font-size: 1rem;
    }

    /* Provide you */
    .provide {
        height: 500px;
    }

    .provide__content h1 {
        font-size: 2.5rem;
        width: 90vw;
        line-height: normal;
    }

    .provide__content p {
        width: 80%;
    }

    .provide__icon-banner1,
    .provide__icon-banner2 {
        width: 90px;
        height: auto;
    }

    .provide__icon-banner1 {
        position: absolute;
        top: 1rem;
        left: 2rem;
    }

    .provide__icon-banner2 {
        position: absolute;
        bottom: 0;
        right: 3rem;
    }


    /* Blogs */
    .blogs__content {
        width: var(--container-width);
    }

    .blogs__title p {
        width: 90%;
    }


    /* Contact */
    .contact__title {
        text-align: center;
    }

    .contact__title h1 {
        font-size: 3rem;
        width: 100%;
    }

    .contact__items {
        width: 100%;
    }

    .contact__items p {
        width: 100%;
        text-align: center;
    }

    .contact__checklist-item {
        font-size: 1.1rem;
        justify-content: center;
    }

    .contact__image {
        height: 280px;
        width: 100%;
    }

    .contact__img1 {
        left: 0;
        top: 0;
    }

    .contact__img2 {
        right: 0;
    }

    .contact__icon {
        right: 20%;
    }

    /* Footer */
    footer {
        height: 950px;
    }

    .footer__container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .footer__container> :nth-child(1) {
        grid-column: 1 / -1;
    }

    .footer__container> :nth-child(2) {
        grid-column: 1 / 3;
    }

    .footer__container> :nth-child(3) {
        grid-column: 3 / 5;
    }

    .footer__container> :nth-child(4) {
        grid-column: 1 / -1;
    }

    .footer__container> :nth-child(5) {
        grid-column: 1 / -1;
    }

    .footer__icon1,
    .footer__icon2 {
        position: absolute;
        width: 70%;
    }

    .footer__logo {
        font-size: 2.5rem;
        line-height: normal;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .footer__items p {
        font-size: 1rem;
        line-height: normal;
        width: 100%;
        text-align: center;
    }

    .footer__contact {
        margin-top: 2rem;
    }

    .footer__contact-items {
        font-size: 1rem;
        margin-bottom: 1rem;
        justify-content: center;
    }

    .footer__links {
        text-align: center;
    }

    .footer__links h3,
    .footer__posts h2 {
        font-size: 1.8rem;
    }

    .footer__links ul {
        list-style: none;
    }

    .footer__links ul li a {
        font-size: 1rem;
        line-height: 42px;
    }

    .footer__postItem-content span {
        font-size: 0.8rem;
    }

    .footer__postItem-content h3 {
        font-size: 1rem;
        line-height: 100%;
    }

    .footer__posts {
        margin: 0 auto;
        text-align: center;
    }

    .footer__social-icon {
        display: flex;
        gap: 1rem;
        margin-right: 0;
    }

    .footer__social h6 {
        font-size: 1rem;
        line-height: normal;
    }
}

/* End Mobile */