:root {
    --primary-color: #F5AB48;
    --secondary-color: #54A029;
    --icon-color: #54A029;

    --primary-color-hover: #e6993b;
    --secondary-color-hover: #3d7a1e;

    --text-white: #ffffff;
    --text-black: #000000;
    --text-secondary: #14212B99;

    --font-family: 'DM Sans', sans-serif;


    --font-size: 16px;
    --container-width: 1200px;
}

/* PC */
@media (max-width: 1870px) {
    :root {
        --font-size: 15px;
        --container-width: 1000px;
    }
}

/* Tablet */
@media (max-width: 1023px) {
    :root {
        --font-size: 14px;
        --container-width: 90%;
    }
}

/* Mobile */
@media (max-width: 767px) {
    :root {
        --font-size: 13px;
        --container-width: 95%;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: var(--font-size);
}

body {
    font-family: var(--font-family);
    /* position: relative; */
}

header {
    /* background: #0000009a; */
    background-image: url('images/content/banner.png');
    background-size: cover;
    height: 95vh;
    border-bottom: 5px solid #afafaf;
}

/* Navigation */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 30px 0;

    position: fixed;
    top: 0;
    background: #00000052;
    z-index: 999;
}

/* .navbar: */

.navbar__container {
    width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__logo span {
    font-size: 36px;
    color: var(--text-white);
    font-weight: 700;
    font-family: 'MuseoModerno', sans-serif;

}


.navbar__links {
    list-style: none;
    display: flex;
    gap: 3rem;
    align-items: center;
}

.navbar__links li a {
    text-decoration: none;
    color: var(--text-white);
    font-weight: bold;
    font-size: 16px;
    position: relative;
}

.navbar__links--primary {
    background: var(--primary-color);
    color: var(--text-black);
    padding: 10px 25px;
    border-radius: 4px;
}


.navbar__links--primary:hover {
    background: var(--primary-color-hover);
    transition: all 0.3s ease;
}

.navbar__links--primary:hover a {
    color: var(--text-white) !important;
}

.navbar__links li a:hover {
    color: var(--primary-color);
    transition: all 0.3s ease;
}

.navbar__links li:not(:last-child) a:hover::before {
    content: "";
    position: absolute;
    width: 60%;
    height: 2px;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--primary-color);
}

.hamburger-menu {
    display: none;
}

@media (max-width: 1870px) {
    .navbar__container {
        width: 1200px;
    }

    .navbar__logo span {
        font-size: 28px;
    }

    .navbar__links li a {
        font-size: 12px;
    }

    .navbar {
        padding: 20px 0;
    }
}

@media (max-width: 1023px) {
    .navbar {
        width: 100vw;
    }

    .navbar__container {
        width: var(--container-width);
    }

    .navbar__logo span {
        font-size: 2rem;
    }

    .navbar__links li a {
        font-size: 0.8rem;
    }

    .navbar {
        padding: 1rem 0;
    }
}


@media (max-width: 767px) {

    .hamburger-menu {
        display: block;
    }

    .hamburger-menu__burger {
        position: relative;
        width: 25px;
        height: 15px;
    }

    .hamburger-menu__burger span {
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background: var(--text-white);
        border-radius: 2px;
    }

    .hamburger-menu__burger span:nth-child(1) {
        top: 0
    }

    .hamburger-menu__burger span:nth-child(2) {
        top: 6px
    }

    .hamburger-menu__burger span:nth-child(3) {
        top: 12px
    }

    .navbar__links {
        display: none !important;
    }

    .navbar__container {
        width: 90%;
    }
}



/* Hero Section */
.hero {
    width: 1440px;
    margin: 0 auto;
}

.hero__container {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    height: 70vh;
    transform: translateY(20%);
}

.hero span {
    color: var(--primary-color);
    letter-spacing: 0.5rem;
    font-size: 13px;
}

.hero h1 {
    color: var(--text-white);
    font-size: 65px;
}

.hero p {
    color: var(--text-white);
    font-size: 16px;
    width: 80%;

}

.hero a {
    text-decoration: none;
    font-weight: bold;
}

.hero__action-button {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.hero__discover-button {
    background: var(--primary-color);
    border: none;
    padding: 15px 25px;
    border-radius: 4px;
    font-weight: bold;
}

.hero__discover-button:hover,
.hero__play-button:hover {
    background: var(--primary-color-hover);
    transition: all 0.3s ease;
}

.hero__play-button {
    background: var(--primary-color);
    border: none;
    padding: 15px;
    border-radius: 50%;
}

.hero__play-button svg {
    display: flex;
}

.hero__action-button button,
.hero__action-button a {
    color: var(--text-white);
    font-size: 14px;
}

.hero__watch-video:hover {
    color: var(--primary-color);
    transition: all 0.3s ease;
}

.hero__action-button a {
    position: relative;
}

.hero__watch-video:hover::before {
    content: "";
    position: absolute;
    width: 60%;
    height: 2px;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--primary-color);
}

@media (max-width: 1870px) {
    .hero {
        width: 1200px;
    }

    .hero span {
        font-size: 10px;
    }

    .hero h1 {
        font-size: 50px;
    }

    .hero p {
        font-size: 11px;
    }

    .hero__action-button button,
    .hero__action-button a {
        font-size: 12px;
    }
}

@media (max-width: 1023px) {
    .hero {
        width: var(--container-width);
    }

    .hero__container {
        width: var(--container-width);
        height: 70vh;
    }

    .hero span {
        font-size: 0.8rem;
    }

    .hero h1 {
        font-size: 4rem;
    }

    .hero p {
        font-size: 1rem;
    }

    .hero__action-button button,
    .hero__action-button a {
        font-size: 1rem;
    }
}


@media (max-width: 767px) {
    .hero {
        width: var(--container-width);
    }

    .hero__container {
        width: var(--container-width);
        height: 60vh;
    }

    .hero span {
        font-size: 1rem;
    }

    .hero h1 {
        font-size: 3.2em;
    }
}



/* Main Section*/
.main__container {
    width: var(--container-width);
    margin: 0 auto;
    padding-top: 5rem;
}

/* About  */
.about {
    display: flex;
    gap: 4rem;
}

.about__images {
    position: relative;
    width: 100%;
    height: 540px;
}

.about__images img {
    object-fit: cover;
}

.about__icons {
    position: absolute;
    left: 0;
    top: 20%;
    z-index: 15;
}

.about__icon4 {
    position: relative;
    left: -30%;
    opacity: 0.4;
}

.about__icon3 {
    position: absolute;
    z-index: 16;
    top: 50%;
    left: 0;
    transform: translate(-14%, -50%);
}

.about__icon2 {
    position: absolute;
    z-index: 17;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}



.about__image-1 {
    position: absolute;
    top: 0;
    left: 10%;
    z-index: 10;
    width: 300px;
    height: 440px;
}

.about__image-2 {
    position: absolute;
    bottom: 0;
    right: 10%;
    z-index: 11;
    width: 335.38507080078125px;
    height: 314.9825134277344px;
}

.about__image-3 {
    position: absolute;
    right: 10%;
    top: 13%;
    z-index: 1;
}

.about__content span {
    color: var(--primary-color);
    letter-spacing: 0.7rem;
    font-size: 24px;
    font-weight: 700;
    display: flex;
    gap: 1rem;
}

.about__content h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
}

.about__content p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--text-secondary);
    padding: 3rem 0 2rem 0;
}

.about__item {
    font-size: 16px;
    line-height: 26px;
    margin: 1rem 0;
    font-weight: 400;
}

.about__item svg {
    margin-right: 0.7rem;
}

.about__content button {
    border: none;
    margin-top: 2.5rem;
}

.about__content button a:hover {
    background: var(--secondary-color-hover);
    transition: all 0.3s ease;
}

.about__content button a {
    text-decoration: none;
    color: var(--text-white);
    background: var(--secondary-color);
    border-radius: 3px;
    padding: 20px 50px;
    font-weight: 700;
    line-height: 21px;
    font-size: 15px;
}


@media (max-width: 1870px) {
    .about {
        gap: 0rem;
    }

    .about__content span {
        font-size: 16px;
    }

    .about__content h1 {
        font-size: 42px;
    }

    .about__content p {
        font-size: 11px;
        line-height: 20px;
        padding: 2rem 0 1rem 0;
    }


    .about__checlist-item {
        font-size: 11px;
        line-height: 20px;
        margin: 1rem 0;
    }

    .about__icon4 {
        width: 200px;
        height: 200px;
    }

    .about__icon3 {
        transform: translate(-20%, -50%);
        width: 130px;
        height: 130px;
    }

    .about__icon2 {
        width: 80px;
        height: 80px;
    }

    .about__image-1 {
        top: 0;
        left: 10%;
        width: 270px;
        height: 330px;
    }

    .about__image-2 {
        bottom: 15%;
        right: 10%;
        width: 280px;
        height: 270px;

    }

    .about__image-3 {
        position: absolute;
        right: 18%;
        top: 12%;
        z-index: 1;
        width: 150px;
    }
}

@media (max-width: 1023px) {

    .about__content span {
        font-size: 1.2rem;
    }

    .about__content h1 {
        font-size: 2.5rem;
    }

    .about__content p {
        font-size: 0.8rem;
    }

    .about__checlist-item {
        font-size: 1rem;
    }

    .about__icon4 {
        width: 150px;
        height: 150px;
    }

    .about__icon3 {
        transform: translate(-20%, -50%);
        width: 100px;
        height: 100px;
    }

    .about__icon2 {
        width: 60px;
        height: 60px;
    }

    .about__image-1 {
        width: 180px;
        height: 230px;
    }

    .about__image-2 {
        bottom: 35%;
        right: 10%;
        width: 200px;
        height: 190px;

    }

    .about__image-3 {
        position: absolute;
        right: 10%;
        top: 12%;
        width: 120px;
    }
}


@media (max-width: 767px) {


    .about__content span {
        justify-content: center;
    }

    .about__content h1 {
        line-height: normal;
    }

    .about__content {
        text-align: center;
    }

    .about {
        flex-direction: column-reverse;
    }

    .about__images {
        position: relative;
        width: 100%;
        height: 300px;
        margin: 5rem 0;
    }

    .about__icon4 {
        left: 0;
    }

    .about__icon3 {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .about__icon2 {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .about__image-1 {
        left: 20%;
    }

    .about__image-2 {
        bottom: 0;
        right: 0;
    }

    .about__image-3 {
        right: 10%;
        top: 5%;
    }
}


/* Mission */
.mission {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;
}

.mission__list {
    display: flex;
    margin: 0 auto;
    margin-top: 5rem;
}

.mission__list-item svg {
    color: red;
}



.mission span {
    font-size: 24px;
    line-height: 50px;
    letter-spacing: 50%;
    font-weight: 700;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.mission h1 {
    font-size: 56px;
    font-weight: 700;
    color: var(--text-black);
    margin-bottom: 1rem;
}

.mission p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: var(--text-secondary);
    width: 50%;
    text-align: center;
}

.mission__list-item {
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    align-items: center;
    position: relative;
    width: 200px;
    height: auto;
    margin: 0 1rem;
}

.mission__list-item:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 20%;
    right: -10%;
    width: 2px;
    height: 60%;
    background-color: #ccc;
}

/* thêm .list-item đổi avtive thành hover nếu có icon svg */
/* .mission__list-item:hover{ */
.mission__list-item--active {
    background-color: var(--secondary-color);
    scale: 1.1;
    border-radius: 7px;
}

.mission__list-item--primary {
    border-radius: 7px;
    box-shadow: 0px 4px 14px 10px #0000000D;
}

.mission__list-item--active h5 {
    color: var(--text-white);
}

.mission__list img {
    width: 65px;
    height: 65px;
}

.mission__list-item h5 {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

@media (max-width: 1870px) {
    .mission {
        margin-top: 3rem;
    }

    .mission .mission__list {
        margin-top: 3rem;
    }

    .mission span {
        font-size: 16px;
        line-height: normal;
    }

    .mission h1 {
        font-size: 46px;
    }

    .mission p {
        font-size: 12px;
        line-height: normal;
    }

    .mission__list-item {
        padding: 15px;
        gap: 1rem;
        width: 170px;
    }

    /* thêm .list-item đổi avtive thành hover nếu có icon svg */
    /* .mission__list-item:hover{ */
    .mission__list-item--active {
        scale: 1;
    }

    .mission__list img {
        width: 50px;
        height: 50px;
    }

    .mission__list-item h5 {
        font-size: 13px;
    }
}

@media (max-width: 1023px) {

    .mission span {
        font-size: 1.2rem;
    }

    .mission h1 {
        font-size: 3rem;
    }

    .mission p {
        font-size: 1rem;
        width: 70%;
    }

    .mission__list-item {
        padding: 15px;
        gap: 1rem;
        width: var(--container-width);
    }

    .mission__list img {
        width: 50px;
        height: 50px;
    }

    .mission__list-item h5 {
        font-size: 1rem;
    }
}


@media (max-width: 767px) {

    .mission h1 {
        text-align: center;
        width: 90%;
    }

    .mission p {
        width: 100%;
    }

    .mission__list {
        flex-direction: column;
        gap: 3rem;
    }

    .mission__list-item {
        padding: 25px;
    }

    .mission__list-item:not(:last-child)::after {
        width: 0;
        height: 0;
    }

}

/* Vision */
.vision {
    display: flex;
    gap: 3rem;
    margin: 8rem 0;
}


.vision__content span {
    font-size: 18px;
    line-height: 50px;
    letter-spacing: 50%;
    font-weight: 500;
    color: var(--primary-color);
    display: flex;
    align-items: center;
}

.vision__content span img {
    margin-right: 1rem;
}

.vision__content h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
}

.vision__content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: var(--text-secondary);
    text-align: justify;
    margin: 2rem 0;
}

.vision__content button {
    border: none;
    background: none;
}

.vision__content button a {
    text-decoration: none;
    color: var(--text-white);
    padding: 20px 30px;
    background-color: var(--primary-color);
    font-weight: 700;
    font-size: 15px;
    line-height: 21px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.vision__content a:hover {
    background: var(--primary-color-hover);
    transition: all 0.3s ease;
}

.vision__content button svg {
    color: var(--text-white);
}

.vision__video {
    position: relative;
}

.vision__video img {
    width: 647px;
    height: 521px;
    object-fit: cover;
}

.vision__video svg {
    position: absolute;
    width: 125px;
    height: 125px;
    color: var(--text-white);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 1870px) {
    .vision {
        gap: 2rem;
        margin: 6rem 0;
    }

    .vision__content span {
        font-size: 14px;
        line-height: normal;
        margin-bottom: 1rem;
    }

    .vision__content h1 {
        font-size: 40px;
        line-height: 50px;
    }

    .vision__content p {
        font-size: 12px;
        line-height: normal;
        width: 90%;
    }

    .vision__content button a {
        padding: 15px 25px;
        font-size: 12px;
    }

    .vision__video img {
        width: 480px;
        height: 500px;
        object-fit: cover;
    }
}

@media (max-width: 1023px) {
    .vision {
        gap: 1rem;
        flex-direction: column;
    }

    .vision__content span {
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .vision__content h1 {
        font-size: 3rem;
    }

    .vision__content p {
        font-size: 1rem;
        line-height: normal;
        width: 90%;
    }

    .vision__content button a {
        font-size: 1rem;
    }

    .vision__video img {
        width: 100%;
        margin-top: 1rem;
    }
}



@media (max-width: 767px) {
    .vision {
        flex-direction: column;
        align-items: center;
    }

    .vision__content {
        text-align: center;
    }

    .vision__content span {
        justify-content: center;
    }

    .vision__content p {
        width: 100%;
    }

    .vision__content button a {
        font-size: 1rem;
    }

    .vision__video img {
        width: 100%;
        margin-top: 1rem;
    }
}


/* Offer */

.offer {
    text-align: center;
}

.offer__title span {
    color: var(--primary-color);
    letter-spacing: 50%;
    font-size: 18px;
    line-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.offer__title h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    margin: 0 0 2rem 0;
}

.offer__title p {
    font-weight: 400;
    color: var(--text-secondary);
    font-size: 16px;
    line-height: 26px;
    width: 50%;
    margin: 0 auto;
}

.offer__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 2rem;
    margin: 4rem 0;
}

.offer__items {
    display: flex;
    box-shadow: 0px 0px 20px 10px #CBCBCB40;
    padding: 2rem;
    gap: 1rem;
}

.offer__items img {
    width: 50px;
    height: 50px;
}

.offer__items-content {
    text-align: left;
}

.offer__items-content h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 27px;
    margin-bottom: 1rem;

}

.offer__items-content p {
    color: var(--text-secondary);
    font-size: 16px;
}

@media (max-width: 1870px) {
    .offer__title span {
        font-size: 15px;
    }

    .offer__title h1 {
        font-weight: 700;
        font-size: 42px;
    }

    .offer__title p {
        font-size: 12px;
        line-height: normal;
    }

    .offer__items-content h2 {
        font-size: 24px;
    }

    .offer__items-content p {
        font-size: 12px;
    }

}


@media (max-width: 1023px) {
    .offer__title span {
        font-size: 1rem;
    }

    .offer__title h1 {
        font-size: 3.5rem;
    }

    .offer__title p {
        font-size: 1rem;
    }

    .offer__items-content h2 {
        font-size: 1.6rem;
    }

    .offer__items-content p {
        font-size: 1rem;
    }

}

@media (max-width: 767px) {
    .offer__title h1 {
        font-size: 3rem;
    }

    .offer__title p {
        width: 100%;
    }

    .offer__content {
        grid-template-columns: repeat(1, 1fr);
    }

}


/* Product */
.product {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 8rem;
}

.product__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: flex-start;
}


.product__title span {
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: 50%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}


.product__title h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
}

.product__title p {
    color: var(--text-secondary);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    width: 80%;
    margin: 2rem 0 3rem 0;
}

.product__title button {
    border: none;
    background: none;
    display: flex;
}

.product__title button a {
    text-decoration: none;
    color: var(--text-white);
    background-color: var(--secondary-color);
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    padding: 20px 40px;
    border-radius: 8px;
}


.product__title button a:hover {
    background: var(--secondary-color-hover);
    transition: all 0.3s ease;
}


.product__items img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product__items {
    position: relative;
    height: 400px;
}

.product__items-content {
    display: none;
    position: absolute;
    bottom: 0;
    padding: 3rem;
}

.product__items:hover {
    background-color: #54A02991;
}

.product__items::after {
    content: "";
    position: absolute;
    inset: 0;
    background: #55a02900;
    transition: background 0.3s ease;
}

.product__items:hover::after {
    background: #54A02991;
}

.product__items:hover .product__items-content {
    display: block;
    z-index: 100;
}

.product__items-content h3 {
    font-weight: 700;
    font-size: 24px;
    color: var(--text-white);
}

.product__items-content p {
    color: var(--text-white);
    opacity: 0.5;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 3rem;
}

.product__items-content button {
    border: none;
    background: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.product__items-content button a {
    color: var(--text-white);
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
}


.product__items-content button svg {
    width: 24px;
    height: 24px;
}

@media (max-width: 1870px) {

    .product__title span {
        font-size: 15px;
    }


    .product__title h1 {
        font-size: 42px;
    }

    .product__title p {
        font-size: 12px;
    }

    .product__title button a {
        font-size: 15px;
        padding: 15px 35px;
    }

    .product__items {
        height: 320px;
    }


    .product__items-content h3 {
        font-size: 18px;
    }

    .product__items-content p {
        font-size: 12px;
        margin-bottom: 2rem;
    }


    .product__items-content button a {
        font-size: 12px;
    }


    .product__items-content button svg {
        width: 20px;
        height: 20px;
    }
}


@media (max-width: 1023px) {

    .product {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .product__title span {
        font-size: 1rem;
    }


    .product__title h1 {
        font-size: 3.2rem;
    }

    .product__title p {
        font-size: 1rem;
    }

    .product__title button a {
        font-size: 1rem;
    }

    .product__items {
        height: 300px;
    }

    .product__items::after {
        background: #54A02991;
    }

    .product__items-content {
        display: block;
        z-index: 1;
    }

    .product__items-content h3 {
        font-size: 1.5rem;
    }

    .product__items-content p {
        font-size: 1rem;
    }


    .product__items-content button a {
        font-size: 1rem;
    }
}

@media (max-width: 767px) {

    .product {
        grid-template-columns: repeat(1, 1fr);
    }

    .product__title span {
        justify-content: center;
    }

    .product__title {
        text-align: center;
    }

    .product__title p {
        width: 100%;
    }

    .product__title button {
        justify-content: center;
    }

}


/* Testimonials */
.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;
}

.testimonials__title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonials__title span {
    font-weight: 500;
    font-size: 18px;
    line-height: 50px;
    letter-spacing: 50%;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
}

.testimonials__title h1 {
    width: 70%;
    text-align: center;
    display: flex;
    font-weight: 700;
    font-size: 56px;
    margin-bottom: 2rem;
}

.testimonials__items-title img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}

.testimonials__list {
    display: flex;
    gap: 3rem;
}

.testimonials__items {
    border: 1px solid #ACACAC4A;
    padding: 4rem;
    box-shadow: 11px 130px 100px 30px #00000005;
    border-radius: 6px;

}

.testimonials__items-title {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1.5rem;
}

.testimonials__items-info h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}

.testimonials__items p {
    color: var(--text-secondary);
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: justify;
}

.testimonials__pagination {
    display: flex;
    justify-content: center;
}

.testimonials__pagination-line::before {
    color: #54A02982;
    font-size: 5rem;
    margin: 0 0.3rem;
    content: "_";
    line-height: 10px;
}

.testimonials__pagination-active::before {
    color: var(--icon-color);
}

.testimonials__action-button {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 2rem;
}

.testimonials__action-button button {
    background: none;
    border: none;
}

.testimonials__action-button svg {
    width: 60px;
    height: 60px;
    padding: 15px;
}

.testimonials__action-button button:hover {
    background: var(--primary-color);
    color: var(--text-white);
    border-radius: 50%;
}

@media (max-width: 1870px) {
    .testimonials__title span {
        font-size: 15px;
    }

    .testimonials__title h1 {
        font-size: 42px;
    }

    .testimonials__items-title img {
        width: 50px;
        height: 50px;
    }

    .testimonials__list {
        gap: 2rem;
    }

    .testimonials__items {
        padding: 3rem;
    }

    .testimonials__items-info h3 {
        font-size: 16px;
    }

    .testimonials__items p {
        font-size: 12px;
        line-height: normal;
    }

    .testimonials__pagination {
        display: flex;
        justify-content: center;
    }

    .testimonials__pagination-line::before {
        font-size: 4rem;
    }


    .testimonials__action-button svg {
        width: 50px;
        height: 50px;
        padding: 15px;
        display: flex;
    }

}

@media (max-width: 1023px) {
    .testimonials__title span {
        font-size: 1rem;
    }

    .testimonials__title h1 {
        font-size: 3rem;
    }

    .testimonials__items-title img {
        width: 50px;
        height: 50px;
    }

    .testimonials__list {
        gap: 2rem;
    }

    .testimonials__items {
        padding: 3rem;
    }

    .testimonials__items-info h3 {
        font-size: 1.2rem;
    }

    .testimonials__items p {
        font-size: 0.9rem;
    }

    .testimonials__pagination-line::before {
        font-size: 4rem;
    }
}

@media (max-width: 767px) {
    .testimonials__title h1 {
        width: 100%;
    }

    .testimonials__list {
        flex-direction: column;
    }

    .testimonials__items-info h3 {
        font-size: 1.2rem;
    }

    .testimonials__items p {
        font-size: 1rem;
    }

}

/* Fresh products */

.fresh-products {
    background: #F8F6F4;
    height: 630px;
    margin: 8rem 0;
    display: flex;
    justify-content: center;
}

.fresh__container {
    width: 70%;
    height: 100%;
    position: relative;
}

.fresh__images {
    position: absolute;
    top: 0;
    height: 100%;
}

.fresh__images img {
    width: 570px;
    height: 570px;
}

.fresh__image-title {
    position: absolute;
    background: var(--primary-color);
    color: var(--text-white);
    border-radius: 8px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0;
    left: 30%;
    transform: translateX(-30%);
}

.fresh__image-title h1 {
    font-weight: 600;
    font-size: 48px;
    line-height: 26px;
    margin-bottom: 1.5rem;


}

.fresh__image-title span {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;

}

.fresh__content {
    background-color: var(--text-white);
    z-index: 10;
    position: absolute;
    right: 0;
    width: 70%;
    bottom: 0;
    padding: 8% 8% 4% 8%;
}

.fresh__content span {
    font-weight: 500;
    font-size: 18px;
    line-height: 50px;
    letter-spacing: 50%;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.fresh__content h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    margin-bottom: 1.5rem;
}

.fresh__content p {
    color: var(--text-secondary);
    font-weight: 400;
    font-size: 16px;
}

.fresh__progress {
    margin-top: 4rem;
}

.fresh__progress h2 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.fresh__progress progress {
    background: #F6F4F2;
    color: var(--secondary-color);
    border-radius: 7px;
    border: none;
    width: 100%;
}

progress::-webkit-progress-value {
    background-color: var(--secondary-color);
}

progress::-moz-progress-bar {
    background-color: var(--secondary-color);
}

.fresh__progress-wrap {
    position: relative;
    width: 90%;
}

.fresh__progress-1,
.fresh__progress-2 {
    margin-top: 1rem;
}

.fresh__progress-1 span,
.fresh__progress-2 span {
    font-weight: 500;
    font-size: 18px;
    color: var(--text-black);
    letter-spacing: normal;
    position: absolute;
    margin-bottom: 0.7rem;
}

.fresh__progress-1 span {
    left: 80%;
    bottom: 0;
}

.fresh__progress-2 span {
    left: 90%;
    bottom: 0;
}

@media (max-width: 1870px) {
    .fresh-products {
        height: 550px;
    }

    .fresh__container {
        width: var(--container-width);
    }

    .fresh__images img {
        width: 470px;
        height: 470px;
    }

    .fresh__image-title {
        padding: 30px;
    }

    .fresh__image-title h1 {
        font-size: 36px;
    }

    .fresh__image-title span {
        font-size: 15px;
        line-height: normal;
    }

    .fresh__content {
        width: 65%;
    }

    .fresh__content span {
        font-size: 15px;
        line-height: normal;
    }

    .fresh__content h1 {
        font-size: 42px;
    }

    .fresh__content p {
        font-size: 12px;
        width: 90%;
    }

    .fresh__progress h2 {
        font-size: 15px;
    }


    .fresh__progress-1 span,
    .fresh__progress-2 span {
        font-size: 15px;
        margin-bottom: 2rem;
    }
}


@media (max-width: 1023px) {
    .fresh-products {
        height: 550px;
    }

    .fresh__container {
        width: var(--container-width);
    }

    .fresh__images img {
        width: 470px;
        height: 470px;
    }

    .fresh__image-title {
        bottom: 0;
        left: 2rem;
        transform: translateX(0);
    }

    .fresh__image-title h1 {
        font-size: 2.8rem;
    }

    .fresh__image-title span {
        font-size: 1rem;
    }

    .fresh__content {
        width: 65%;
    }

    .fresh__content span {
        font-size: 1rem;
    }

    .fresh__content h1 {
        font-size: 3rem;
    }

    .fresh__content p {
        font-size: 1rem;
        width: 100%;
        text-align: justify;
    }

    .fresh__progress h2 {
        font-size: 1rem;
    }

    .progress-wrap {
        width: 100%;
    }

    .fresh__progress-1 span,
    .fresh__progress-2 span {
        font-size: 1rem;
        margin-bottom: 2rem;
    }
}


@media (max-width: 767px) {
    .fresh-products {
        height: 450px;
    }

    .fresh__container {
        width: var(--container-width);
    }

    .fresh__images img {
        width: 80%;
        height: 400px;
        object-fit: cover;
    }

    .fresh__image-title {
        left: 0;
        padding: 20px;
        z-index: 99;
    }

    .fresh__image-title h1 {
        font-size: 2rem;
        margin-bottom: 0.2rem;
    }


    .fresh__content {
        width: 65%;
    }

    .fresh__content span {
        font-size: 0.8rem;
    }

    .fresh__content h1 {
        font-size: 2rem;
        line-height: normal;
    }

    .fresh__content p {
        line-height: normal;
    }

    .fresh__progress h2 {
        font-size: 1rem;
    }

    .fresh__progress-wrap {
        width: 100%;
    }

    .fresh__progress {
        margin-top: 1rem !important;
    }

    .fresh__progress-1 span,
    .fresh__progress-2 span {
        font-size: 1rem;
    }
}



/* Provide you */
.provide {
    height: 615px;
    background: #54A029CF;
    margin: 5rem 0;
    position: relative;
}

.provide__icon-banner1 {
    position: absolute;
    top: 5rem;
    left: 3rem;
}

.provide__icon-banner2 {
    position: absolute;
    bottom: 0;
    right: 5rem;
}

.provide__content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.provide__content h1 {
    color: var(--text-white);
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: -0.06%;
    width: 1200px;
}

.provide__content p {
    color: var(--text-white);
    font-weight: 400;
    font-size: 16px;
    width: 50%;
    text-align: center;
    margin: 2rem 0;
}

.provide__content button {
    background: none;
    border: none;
}

.provide__content button a {
    text-decoration: none;
    color: var(--text-white);
    font-size: 16px;
    font-weight: 700;
    background: var(--primary-color);
    padding: 20px 40px;
    border-radius: 8px;

}

.provide__content button a:hover {
    background: var(--primary-color-hover);
    transition: all 0.3s ease;
}

@media (max-width: 1870px) {
    .provide {
        height: 500px;
    }

    .provide__content h1 {
        font-size: 42px;
        width: 900px;
    }

    .provide__content p {
        font-size: 12px;
        width: 40%;
    }


    .provide__content button a {
        font-size: 12px;
        padding: 15px 35px;
    }
}

@media (max-width: 1023px) {
    .provide {
        height: 500px;
    }

    .provide__content h1 {
        font-size: 3rem;
        width: 80vw;
    }

    .provide__content p {
        font-size: 1rem;
        width: 70%;
    }


    .provide__content button a {
        font-size: 1rem;
        padding: 15px 35px;
    }
}


@media (max-width: 767px) {
    .provide {
        height: 500px;
    }

    .provide__content h1 {
        font-size: 2.5rem;
        width: 90vw;
        line-height: normal;
    }

    .provide__content p {
        width: 80%;
    }

    .provide__icon-banner1,
    .provide__icon-banner2 {
        width: 90px;
        height: auto;
    }

    .provide__icon-banner1 {
        position: absolute;
        top: 1rem;
        left: 2rem;
    }

    .provide__icon-banner2 {
        position: absolute;
        bottom: 0;
        right: 3rem;
    }
}


/* Blogs */
.blogs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blogs__title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blogs__title span {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--primary-color);
    letter-spacing: 50%;
    font-weight: 500;
    font-size: 18px;
}

.blogs__title h1 {
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    margin: 1rem 0;
}

.blogs__title p {
    color: var(--text-secondary);
    font-weight: 400;
    font-size: 16px;
    width: 60%;
    text-align: center;
}

.blogs__content {
    display: flex;
    margin-top: 3rem;
    gap: 2rem;
    width: var(--container-width);
}

.blogs__items {
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.blogs__items img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.blogs__items-content {
    padding: 1.3rem 2rem 1.5rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.blogs__items-content span {
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 18px;
}

.blogs__items-content h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
}

.blogs__items-content p {
    font-weight: 400;
    font-size: 16px;
    color: var(--text-secondary);
}

.blogs__items-action {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.blogs__items-action a {
    text-decoration: none;
    color: var(--text-black);
    font-weight: 700;
    font-size: 16px;
}

.blogs__items-action button {
    border: none;
    background: none;
}

.blogs__items-action button a {
    background: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 5px 13px 0px #54A02940;

}

.blogs__items-action button a:hover {
    background: var(--secondary-color-hover);
    transition: all 0.3s ease;
}

@media (max-width: 1870px) {
    .blogs__content {
        width: var(--container-width);
    }

    .blogs__title span {
        font-size: 14px;
    }

    .blogs__title h1 {
        font-size: 40px;
    }

    .blogs__title p {
        font-size: 13px;
        width: 60%;
    }

    .blogs__items img {
        width: 100%;
        height: 200px;
    }

    .blogs__items-content span {
        font-size: 14px;
    }

    .blogs__items-content h1 {
        font-size: 18px;
    }

    .blogs__items-content p {
        font-size: 12px;
    }

    .blogs__items-action a {
        font-size: 12px;
    }

    .blogs__items-action button a {
        padding: 5px;
    }
}


@media (max-width: 1023px) {
    .blogs__content {
        flex-direction: column;
        width: 70%;
    }

    .blogs__title span {
        font-size: 1rem;
    }

    .blogs__title h1 {
        font-size: 3rem;
    }

    .blogs__title p {
        font-size: 1rem;
    }

    .blogs__items img {
        width: 100%;
        height: 300px;
    }

    .blogs__items-content span {
        font-size: 1rem;
    }

    .blogs__items-content h1 {
        font-size: 1.5rem;
    }

    .blogs__items-content p {
        font-size: 1rem;
    }

    .blogs__items-action a {
        font-size: 1rem;
    }

    .blogs__items-action button a {
        padding: 10px;
    }
}


@media (max-width: 767px) {
    .blogs__content {
        width: var(--container-width);
    }

    .blogs__title p {
        width: 90%;
    }
}

/* Contact */
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;
}

.contact__title {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin-bottom: 3rem;
}

.contact__title span {
    color: var(--primary-color);
    font-size: 24px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 50%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}


.contact__title h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
}

.contact__content {
    display: flex;
    gap: 1rem;
}

.contact__items {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact__items p {
    color: var(--text-secondary);
    font-weight: 400;
    font-size: 16px;
    width: 80%;
}

.contact__checklist-item {
    margin-bottom: 1rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
}

.contact__image {
    width: 90%;
    position: relative;
    height: 350px;
}

.contact__img1 {
    position: absolute;
    top: 10%;
    left: 0;
    width: 280px;
    height: 200px;
    object-fit: cover;
}

.contact__img2 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 430px;
    height: 240px;
    object-fit: cover;
}

.contact__icon {
    position: absolute;
    top: 3%;
    right: 27%;
}

.contact__icon1 {
    position: relative;
}

.contact__icon2 {
    position: absolute;
    right: -10%;
    top: -10%;
}

.contact__items form {
    background: #F8F6F4;
    border-radius: 8px;
    padding: 2rem 3rem;
}

.contact__items form h2 {
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 2rem;
}

.contact__form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.contact__form-group label {
    color: #666666;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.contact__form-group input,
.contact__form-group textarea {
    border: none;
    border-radius: 8px;
    height: 55px;
    color: #7a7a7a;
    font-weight: 400;
    font-size: 16px;
    padding: 1rem;
}

.contact__form-group textarea {
    height: 130px;
    resize: vertical;
}

.contact__items form button {
    font-weight: 500;
    font-size: 14px;
    border: none;
    background: var(--primary-color);
    border-radius: 8px;
    color: var(--text-white);
    padding: 17px 50px;
    margin-top: 1rem;
}

.contact__items form button:hover {
    background: var(--primary-color-hover);
    transition: all 0.3s ease;
}

@media (max-width: 1870px) {
    .contact__title span {
        font-size: 16px;
    }


    .contact__title h1 {
        font-size: 42px;
    }

    .contact__items p {
        font-size: 12px;
    }

    .contact__checklist-item {
        font-size: 14px;
    }

    .contact__image {
        height: 280px;
    }

    .contact__img1 {
        width: 250px;
        height: 150px;
    }

    .contact__img2 {
        width: 330px;
        height: 200px;
    }

    .contact__icon {
        position: absolute;
        top: 3%;
        right: 27%;
    }

    .contact__icon1 {
        width: 50px;
        height: 50px;
    }

    .contact__icon2 {
        width: 20px;
        height: 20px;
    }

    .contact__items form h2 {
        font-size: 38px;
    }

    .contact__form-group label {
        font-size: 13px;
    }

    .contact__form-group input,
    .contact__form-group textarea {
        font-size: 13px;
        padding: 0.5rem 1rem;
    }

    .contact__form-group textarea {
        height: 100px;
    }

    .contact__items form button {
        font-size: 12px;
        padding: 15px 40px;
    }
}


@media (max-width: 1023px) {

    .contact__title {
        width: var(--container-width);
    }

    .contact__title span {
        font-size: 1.2rem;
    }


    .contact__title h1 {
        font-size: 3.5rem;
    }

    .contact__content {
        flex-direction: column;
        align-items: center;
    }

    .contact__items {
        width: var(--container-width);
    }

    .contact__items p {
        font-size: 1rem;
        width: var(--container-width);
    }

    .contact__checklist-item {
        font-size: 1.1rem;
    }

    .contact__image {
        height: 280px;
        width: 100%;
    }

    .contact__img1 {
        left: 15%;
        width: 250px;
        height: 150px;
    }

    .contact__img2 {
        right: 15%;
        width: 330px;
        height: 200px;
    }

    .contact__icon {
        position: absolute;
        right: 35%;
    }

    .contact__items form {
        margin-top: 3rem;
    }

    .contact__items form h2 {
        font-size: 3rem;
    }

    .contact__form-group label {
        font-size: 1rem;
    }

    .contact__form-group input,
    .contact__form-group textarea {
        font-size: 1rem;
    }



    .contact__items form button {
        font-size: 1rem;
        padding: 15px 40px;
    }
}



@media (max-width: 767px) {

    .contact__title {
        text-align: center;
    }

    .contact__title h1 {
        font-size: 3rem;
        width: 100%;
    }

    .contact__items {
        width: 100%;
    }

    .contact__items p {
        width: 100%;
        text-align: center;
    }

    .contact__checklist-item {
        font-size: 1.1rem;
        justify-content: center;
    }

    .contact__image {
        height: 280px;
        width: 100%;
    }

    .contact__img1 {
        left: 0;
        top: 0;
    }

    .contact__img2 {
        right: 0;
    }

    .contact__icon {
        right: 20%;
    }
}

/* Footer */
footer {
    height: 550px;
    background: #0C1908;
    position: relative;
    color: var(--text-white);
    margin-top: 8rem;
}

.footer__container {
    margin: 0 auto;
    width: var(--container-width);
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1.5fr;
    grid-template-rows: 1fr;
    gap: 2rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

.footer__container> :nth-child(5) {
    grid-column: 1 / -1;
}

.footer__icon1,
.footer__icon2 {
    position: absolute;
}

.footer__icon1 {
    bottom: 0;
    left: 0;
}

.footer__logo img {
    width: 40px;
    height: 40px;
}

.footer__logo {
    font-weight: 700;
    font-size: 36px;
    line-height: 24px;
}

.footer__items p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin-top: 2rem;
    width: 80%;
}

.footer__contact {
    margin-top: 2rem;
}

.footer__contact-items {
    font-weight: 700;
    font-size: 14px;
    line-height: 31.99px;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.footer__contact-items svg {
    color: var(--text-white);
    background: var(--secondary-color);
    border-radius: 4px;
}

.footer__icon2 {
    top: 0;
    right: 0;
}

.footer__links h3,
.footer__posts h2 {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 2rem;
}

.footer__links ul {
    list-style: none;
}

.footer__links ul li a {
    text-decoration: none;
    color: var(--text-white);
    font-weight: 400;
    font-size: 16px;
    line-height: 42px;
}

.footer__posts {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer__posts-items {
    display: flex;
    gap: 1rem;
}

.footer__posts-items img {
    width: 60px;
    height: 55px;
    object-fit: cover;
}

.footer__postItem-content span {
    font-weight: 400;
    font-size: 12px;
    color: #ffffff8d;
}

.footer__postItem-content h3 {
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
}

.footer__social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-bottom: 1rem;
    border-top: 1px solid #898989;
}

.footer__social-icon {
    display: flex;
    gap: 1rem;
    margin-right: 10rem;
}

.footer__social h6 {
    font-weight: 400;
    font-size: 13px;
    line-height: 28px;
}

.footer__social-icon svg {
    width: 20px;
    height: 20px;
    color: #A5A0A0;
}

@media (max-width: 1870px) {
    footer {
        height: 450px;
    }

    .footer__container {
        width: var(--container-width);
    }


    .footer__logo img {
        width: 30px;
        height: 30px;
    }

    .footer__logo {
        font-size: 30px;
    }

    .footer__items p {
        font-size: 12px;
    }

    .footer__contact-items {
        font-size: 12px;
    }


    .footer__links h3,
    .footer__posts h2 {
        font-size: 18px;
    }

    .footer__links ul li a {
        font-size: 12px;
        line-height: 32px;
    }

    .footer__posts-items img {
        width: 45px;
        height: 35px;
    }

    .footer__postItem-content span {
        font-size: 10px;
    }

    .footer__postItem-content h3 {
        font-size: 12px;
    }


    .footer__social h6 {
        font-size: 12px;
    }

    .footer__social-icon svg {
        width: 17px;
        height: 17px;
    }
}


@media (max-width: 1023px) {

    .footer__logo {
        font-size: 2rem;
    }

    .footer__items p {
        font-size: 0.8rem;
    }

    .footer__contact-items {
        font-size: 0.8rem;
    }


    .footer__links h3,
    .footer__posts h2 {
        font-size: 1.2rem;
    }

    .footer__links ul li a {
        font-size: 0.8rem;
    }

    .footer__postItem-content span {
        font-size: 0.6rem;
    }

    .footer__postItem-content h3 {
        font-size: 0.8rem;
    }


    .footer__social h6 {
        font-size: 0.8rem;
    }
}



@media (max-width: 767px) {

    footer {
        height: 950px;
    }

    .footer__container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .footer__container> :nth-child(1) {
        grid-column: 1 / -1;
    }

    .footer__container> :nth-child(2) {
        grid-column: 1 / 3;
    }

    .footer__container> :nth-child(3) {
        grid-column: 3 / 5;
    }

    .footer__container> :nth-child(4) {
        grid-column: 1 / -1;
    }

    .footer__container> :nth-child(5) {
        grid-column: 1 / -1;
    }

    .footer__icon1,
    .footer__icon2 {
        position: absolute;
        width: 70%;
    }

    .footer__logo {
        font-size: 2.5rem;
        line-height: normal;
        text-align: center;
    }

    .footer__items p {
        font-size: 1rem;
        line-height: normal;
        width: 100%;
        text-align: center;
    }

    .footer__contact {
        margin-top: 2rem;
    }

    .footer__contact-items {
        font-size: 1rem;
        margin-bottom: 1rem;
        justify-content: center;
    }

    .footer__links {
        text-align: center;
    }

    .footer__links h3,
    .footer__posts h2 {
        font-size: 1.8rem;
    }

    .footer__links ul {
        list-style: none;
    }

    .footer__links ul li a {
        font-size: 1rem;
        line-height: 42px;
    }

    .footer__postItem-content span {
        font-size: 0.8rem;
    }

    .footer__postItem-content h3 {
        font-size: 1rem;
        line-height: 100%;
    }

    .footer__posts {
        margin: 0 auto;
        text-align: center;
    }

    .footer__social-icon {
        display: flex;
        gap: 1rem;
        margin-right: 0;
    }

    .footer__social h6 {
        font-size: 1rem;
        line-height: normal;
    }
}